@import "tailwindcss";

@theme {
  /* Paleta Primary (Vino) */
  --color-primary-50: #f2efea;
  --color-primary-100: #e5e1d8;
  --color-primary-200: #d3d0c6;
  --color-primary-300: #b6a6ab;
  --color-primary-400: #9a7b84;
  --color-primary-500: #7d4c5a;
  --color-primary-600: #6a414d;
  --color-primary-700: #583742;
  --color-primary-800: #4e363e;
  --color-primary-900: #3a282f;
  --color-primary-950: #24181c;
  
  /* Paleta Neutral (Grises) */
  --color-neutral-50: #f5f5f5;
  --color-neutral-100: #e6e6e6;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #a3a3a3;
  --color-neutral-400: #806d71;
  --color-neutral-500: #6c6c6e;
  --color-neutral-600: #5a5a5c;
  --color-neutral-700: #414143;
  --color-neutral-800: #363638;
  --color-neutral-900: #30302e;
  --color-neutral-950: #1f1f1d;
}